MobileFlow.txt
[{"id":"93a63bb1.e79678","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"80b83d68.189f6","type":"termux-battery-status","z":"93a63bb1.e79678","name":"","topic":"","x":320,"y":140,"wires":[["86f887de.82ec68"]]},{"id":"c8123b9e.79ba98","type":"inject","z":"93a63bb1.e79678","name":"","topic":"","payload":"Start","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["80b83d68.189f6"]]},{"id":"6cdd2047.1ee0f","type":"debug","z":"93a63bb1.e79678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":280,"wires":[]},{"id":"86f887de.82ec68","type":"switch","z":"93a63bb1.e79678","name":"","property":"payload.percentage","propertyType":"msg","rules":[{"t":"lte","v":"71","vt":"num"},{"t":"gt","v":"71","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":160,"wires":[["b6dec15f.52f58"],["6cdd2047.1ee0f"]]},{"id":"e19b721f.2396f","type":"websocket out","z":"93a63bb1.e79678","name":"Mycroft PI","server":"","client":"ce3cc8a5.312ff8","x":960,"y":100,"wires":[]},{"id":"5ff15ec7.2bdc8","type":"debug","z":"93a63bb1.e79678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":180,"wires":[]},{"id":"b6dec15f.52f58","type":"change","z":"93a63bb1.e79678","name":"MSG","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"context\": null, \"type\": \"recognizer_loop:utterance\", \"data\": {\"lang\": \"en-us\", \"utterances\": [\"Hey Mycroft, say your mobile battery is low, please plug it with a charger\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":80,"wires":[["e19b721f.2396f","5ff15ec7.2bdc8"]]},{"id":"ce3cc8a5.312ff8","type":"websocket-client","z":"","path":"ws://<IP_Address_Of_Mycroft_Deployed_Device>:8181/core","tls":"","wholemsg":"false"}]
